# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference

version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      time: '02:00'
    groups:
      docker:
        patterns: ['docker/*']

  - package-ecosystem: 'devcontainers'
    directory: '/'
    schedule:
      interval: 'weekly'
      time: '02:00'

  - package-ecosystem: 'dotnet-sdk'
    directory: '/'
    schedule:
      interval: 'weekly'
      time: '02:00'

  - package-ecosystem: 'docker'
    directories: ['**/*']
    schedule:
      interval: 'weekly'
      time: '02:00'
    groups:
      dotnet-docker:
        patterns: ['dotnet/*']

  - package-ecosystem: 'nuget'
    directory: '/'
    schedule:
      interval: 'weekly'
      time: '02:00'
    open-pull-requests-limit: 10
    groups:
      azure:
        patterns:
          - 'Azure.*'
          - 'Microsoft.Azure.*'
          - 'Microsoft.Extensions.Configuration.AzureAppConfiguration'
      event-bus:
        patterns: ['Tingle.EventBus*']
      microsoft:
        patterns:
          - 'Microsoft.AspNetCore.*'
          - 'Microsoft.EntityFrameworkCore.*'
          - 'Microsoft.Extensions.*'
          - 'dotnet-ef'
        exclude-patterns:
          - 'Microsoft.Azure.*'
          - 'Microsoft.Extensions.Configuration.AzureAppConfiguration'
          - 'Microsoft.VisualStudio.Azure.Containers.Tools.Targets'
      opentelemetry:
        patterns: ['OpenTelemetry*']
      system:
        patterns: ['System*']
      tingle:
        patterns:
          - 'Tingle.AspNetCore*'
          - 'Tingle.Extensions*'
      xunit:
        patterns: ['Xunit*']

  - package-ecosystem: 'npm'
    directories: ['/', '/extension']
    schedule:
      interval: 'weekly'
      time: '02:00'
    groups:
      jest:
        patterns: ['*jest*']
      js-yaml:
        patterns: ['*js-yaml*']
