# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
- package-ecosystem: "github-actions" # See documentation for possible values
  directory: "/" # Location of package manifests
  schedule:
    interval: "weekly"
    time: "04:00"
  open-pull-requests-limit: 10

- package-ecosystem: "devcontainers" # See documentation for possible values
  directory: "/" # Location of package manifests
  schedule:
    interval: "weekly"
    time: "04:00"
  open-pull-requests-limit: 10

- package-ecosystem: "bundler" # See documentation for possible values
  directory: "/updater" # Location of package manifests
  schedule:
    interval: "weekly"
    time: "04:00"
  open-pull-requests-limit: 10
  groups:
    rubocop:
      patterns: ["*rubocop*"]

- package-ecosystem: "docker" # See documentation for possible values
  directory: "/updater" # Location of package manifests
  schedule:
    interval: "weekly"
    time: "04:00"
  open-pull-requests-limit: 10

- package-ecosystem: "nuget" # See documentation for possible values
  directory: "/" # Location of package manifests
  schedule:
    interval: "weekly"
    time: "04:00"
  open-pull-requests-limit: 10
  groups:
    azure:
      patterns: ['Azure.*']
    event-bus:
      patterns: ["Tingle.EventBus*"]
    microsoft:
      patterns: ["Microsoft*"]
      exclude-patterns:
        - "Microsoft.VisualStudio.Azure.Containers.Tools.Targets"
    system:
      patterns: ["System*"]
    tingle:
      patterns:
      - "Tingle.AspNetCore*"
      - "Tingle.Extensions*"
    xunit:
      patterns: ["Xunit*"]

- package-ecosystem: "npm" # See documentation for possible values
  directory: "/extension" # Location of package manifests
  schedule:
    interval: "weekly"
    time: "04:00"
  open-pull-requests-limit: 10
  groups:
    jest:
      patterns: ["*jest*"]
    js-yaml:
      patterns: ["*js-yaml*"]
    js-ts-types:
      patterns: ["@types/*"]
