# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
/.bundle/
/.env
/.envrc
/tmp
Gemfile.lock
!updater/spec/fixtures/**/Gemfile.lock
!updater/Gemfile.lock
*.pyc
/.vscode-server/
/.vscode-server-insiders/
/.core-bash_history
coverage/
.tool-versions
.rspec_status
.rdbg_history
local-*.sh
local/**.sh
.DS_Store
*git.store
.idea
node_modules/

docker-compose.local.yml
