auto-install-peers = true
# Setting node-linker to hoisted will create a node_modules folder without symlinks
# This is necessary for the build to work on:
# 1. most single-click host scenarios (e.g. Netlify, AWS Amplify, etc.)
# 2. Windows with NextJS standalone mode
# 3. Docker images with prebuilt app
# https://pnpm.io/next/npmrc#node-linker
node-linker=hoisted
