# dependencies
node_modules
package-lock.json

# outputs
bin
obj
dist
out
.turbo
.vercel
.next

.idea

# special files
.config/dotnet-tools.json
.github/ISSUE_TEMPLATE/**
.vscode/settings.json
README.md
CONTRIBUTING.md
docs/**/*.md
.rubocop*.yml
advisories-example.json
updater/spec/fixtures/**
server/main.json
updater/spec/fixtures/**

updater/.bundle/**
updater/tmp/**
updater/job/**
server/Tingle.Dependabot/work

# JSON array formatting by Visual Studio is different from prettier
server/Tingle.Dependabot/appsettings.json
